<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!--
    namespace指定了接口名,将此配置文件与接口做关联,这样Mybatis在自动实现接口时才会找到这个 对应的配置文件
-->
<mapper namespace="com.yugi.dao.AccountMapper">
    <!-- 分页查询帐务帐号 -->
    <select id="findAllEmp" resultType="com.yugi.entity.Emp">
        SELECT * from emp
    </select>

    <update id="update" >
        update emp
        set name='ggg'
        where id=#{id}
    </update>


</mapper>